<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/restauracionconstraseña.css">
</head>
    
<body>
    <section>
        <div class = "DvRContraseña">
            <h2>Restauracion de contraseña</h2> 
            <form method ="post" action = ""  id = "formRegistro">
                <p id = "mensajeError"></p>

                <!--Contraseña Nueva (Agregar )-->
                <div class="input-group">
                    <label>Contraseña nueva</label>
                    <input type="nombre" id = "RContraseña" required>
                </div>
                
                <div class="input-group">
                    <label>Confirmar contraseña</label>
                    <input type="apellido" id = "RCContraseña" required>
                </div>

                <a href="perfil.html"><button type = "submit" id = "BtnRContraseña">Restaurar</button></a>
            </form>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <p>2026 SPL | Sistema de Gestión de Torneos y Partidos</p>
    </footer>

    <script src="../../public/js/registro.js"></script>

</body>
</html>